@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --clr: #222;
    --bg: #F8F9FA;
    --bg-main: #fff;

    --border: #d2d6da;
    --bg-btn-hover: #DEE2E6;
}

.dark-mode{
    --clr: #F8F9FA;
    --bg: #18181C;
    --bg-main: #26262c;
    
    --border: #2c2c2c;
    --bg-btn-hover: #343A40;
}

html, body{
    height: 100%;
    font-family: 'Inter', sans-serif;
}

main{
    height: 100%;
    display: grid;
    place-items: center;
    background-color: var(--bg-main);
}

.card-wrapper{
    display: flex;
    color: var(--clr);
    background-color: var(--bg);
}

.card-wrapper, .card{
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}
.card-wrapper, .desc, .desc-btns{
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}

.card, .desc, .open-desc, .desc-btns{
    height: 450px;
}
.card{
    position: relative;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    padding: 1rem;
    width: 400px;
}
.card img{
    height: 160px;
    width: 160px;
    background-image: cover;
    border-radius: 50%;
}

.toggle-dark{
    position: absolute;
    top: 0;
    left: 340px;
    right: 0;
    bottom: 360px;

    cursor: pointer;
    border: none;
    color: var(--clr);
    background-color: transparent;
}
.user-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: justify;
    
    width: 80%;
}

.social-links{
    display: flex;
    gap: 1.5rem;
}

a{
    color: var(--clr);
    text-decoration: none;
}

.open-desc{
    width: 0px;
    transition: width 0.5s;
}
.open-desc-active{
    cursor: pointer;
    width: 32px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desc{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;

}
.desc-btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 35px;
    overflow: hidden;
}
.btn{
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

    border: none;
    width: 100%;

    color: var(--clr);
    background-color: transparent;
}
.btn:hover{
    background-color: var(--bg-btn-hover);
    transition: background 0.4s ease-out;
}

.btn:nth-child(1), .btn:nth-child(2){
    border-bottom: 1px solid var(--border);
}

.desc::before, .open-desc::before{
    position: absolute;
    content: '';
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;

    height: 430px;
    width: 1px;
    
    background-color: var(--border);
}