@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --clr: #222;
    --bg: #F8F9FA;
    --bg-main: #eee;

    --border: #d2d6da;
    --bg-btn-hover: #DEE2E6;
    --bg-overlay: #DEE2E6;

    --wdt-default: 400px;
    --wdt-mobile: 360px;
}

.dark-mode{
    --clr: #F8F9FA;
    --bg: #18181C;
    --bg-main: #26262c;
    
    --border: #2c2c2c;
    --bg-btn-hover: #343A40;
    --bg-overlay: #222;
}

body{
    height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-main);
}

.card-wrapper{
    width: 100%;
    justify-content: center;

    background-color: var(--bg-main);
}

.card, .desc, .open-desc, .desc-btns{
    height: 450px;
}
.card{
    position: relative;
    grid-area: card;
    
    gap: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    
    padding: 1rem;
    width: var(--wdt-default);
    
    color: var(--clr);
    background-color: var(--bg);
}
.card img{
    height: 160px;
    width: 160px;
    background-image: cover;
    border-radius: 50%;
}

.open-desc{
    width: 0px;
    transition: width 0.5s;
    
    color: var(--clr);
    background-color: var(--bg);
}
.open-desc-active{
    cursor: pointer;
    position: relative;

    width: 32px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.desc::before, .open-desc::before{
    position: absolute;
    content: '';
    inset: 0 0 0 0;
    
    height: 450px;
    width: 1px;
    
    background-color: var(--border);
}
@media screen and (max-width: 600px) {
    .card{
        width: var(--wdt-mobile);
    }
    .open-desc{
        height: 0px;
        width: 0px;
        transition: height 0.5s;
    }
    .open-desc-active{
        height: 32px;
        width: var(--wdt-mobile);
    }
    .open-desc-icon{
        transform: rotate(90deg);
    }
    .desc::before, .open-desc::before{
        position: absolute;
        content: '';
        inset: 0 0 0 0;
        
        height: 1px;
        width: 100%;
        
        background-color: var(--border);
    }
}
.desc{
    position: relative;
    width: 600px;
    grid-area: desc;

    color: var(--clr);
    background-color: var(--bg);
}
.desc-btns{
    width: 35px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 600px) {
    .desc{
        width: var(--wdt-mobile);
    }
    .desc-btns{
        position: relative;

        height: 35px;
        width: 100%;

        flex-direction: row;
        grid-area: descBtns;
    }
    
    .desc-btns::before{
        position: absolute;
        content: '';
        inset: 0 0 0 0;

        height: 1px;
        width: 100%;

        background-color: var(--border);
    }
    .close-desc-icon{
        transform: rotate(90deg);
    }
}

.slide{
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 94%;
}
.slide:hover .overlay{
    z-index: 1;
    opacity: 0.9;
}
.slide-img-wrapper {
    height: 100%;
    width: 100%;
}
.slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.slide-btns{
    display: flex;
    height: 6%;
    width: 100%;
    grid-area: slideBtns;
}
.slide-btn{
    cursor: pointer;

    width: 100%;
    border: none;
    
    color: var(--clr);
    background-color: var(--bg);
}
#previous-img, #next-img{
    border-right: 1px solid var(--border);
}


