/* estilos de elementos secundários (ícones, botões, etc) */

.toggle-dark{
    cursor: default;
    position: absolute;
    inset: 0 0 360px 340px;

    border: none;
    outline: none;

    color: var(--clr);
    background-color: transparent;
}
#toggle-dark-icon{
    cursor: pointer;
}

.user-info{
    width: 80%;

    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    
    text-align: justify;
}

.social-links{
    display: flex;
    gap: 1.5rem;
}
.social-links a{
    color: var(--clr);
    text-decoration: none;
}

.btn{
    cursor: pointer;
    
    width: 100%;
    height: 100%;
    justify-content: center;
    
    border: none;
    font-size: 13px;
    text-decoration: none;
    
    color: var(--clr);
    background-color: var(--bg);
}
.btn:hover, .slide-btn:hover{
    background-color: var(--bg-btn-hover);
    transition: background 0.4s ease-out;
}
/* .btn:nth-child(1){
    border-top-right-radius: 7px;
}
.btn:nth-child(3){
    border-bottom-right-radius: 7px;
}
.btn:nth-child(1), .btn:nth-child(2){
    border-bottom: 1px solid var(--border);
} */

.overlay{
    position: absolute;
    inset: 0 0 0 0;
    opacity: 0;
    z-index: -1;
    transition: 0.5s ease;
    background-color: var(--bg-overlay);
}
.slide:hover .overlay{
    z-index: 1;
    opacity: 0.9;
}
.overlay-text{
    cursor: default;
    position: absolute;
    top: 40%;
    left: 37%;
    font-size: 1.2rem;
    color: var(--clr);
}

@media screen and (max-width: 600px) {
    .toggle-dark{
        inset: 0 0 360px 320px;
    }
    .btn:nth-child(1), .btn:nth-child(2){
        border-bottom: none;
        border-right: 1px solid var(--border);
    }
}